.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

.adder {
  display: inline-block;
  padding-left: 20px;
  padding-top: 20px;
  border: 0;
  border-radius: 5px;
}

.grid-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 9px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin: auto;
  padding: 20px 0;
}

.sel-spot {
  padding-right: 20px;
}

.centerer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.spacer {
  padding-left: 20px;
}